/* Delete or comment out the *{border: line*/
/**{ border: 1px solid black;}*/
body{
    padding: 50px 20%;
    }

h1,h2,h3,h4,h5,h6, strong {color:plum;}

h1,h3{text-align: center;}
h2{
    text-align: right;

    border-bottom: lightslategrey solid 1px;
}
hr{
    border: lightslategrey dotted 1px;
    width: 50%;
}

p{
    font-family: Georgia, serif;
    text-align: justify;
    font-style: italic;
}